body{
    background: url("https://s1.1zoom.me/big0/489/BUGATTI_La_Voiture_Noire_Black_Black_background_561618_1280x720.jpg");
    background-size: cover;
    /* background-color: orange; */
    font-family: 'Baloo Bhai 2', cursive;
}
.contact_us{
    /* background:#2F4353; */
    background: white;
    position: absolute;
    top: 15%;
    left: 32%;
    padding-top: 30px;
    padding-right: 37px;
    border-radius: 8px;
    width: 30%;
    height: 75%;
    padding-left: 36px;
    text-align: center;
    opacity: 70%;
}
.contact_us h1{
    text-align: center;
    margin-top: 0;
}
.form1{
    border: 1px solid black;
    padding-top: 17px;
    margin-top: 7px;
    border-radius: 10px;
}
.form1 label{
    display: block;
    text-align: left;
    margin-left: 2px;
}
.form1 input{
    color:black;
    border: none;
    width: 100%;
    outline: none;
    font-size: 16px;
    margin-top: 7px;
    text-align: left;
}
.btn a{
    display:block;
    text-decoration: none;
    background-color:black;
    margin-top: 1px;
    border-radius: 9px;
    padding:14px 0;
    color: white;
    cursor: pointer;
}